<script id='all-facets-template' type='text/x-handlebars-template'>
    <div class="allfacets fullscreen">
        <form id="all-facet-form">
            {{#each existing}}
            <input type="hidden" name="{{key}}" value="{{value}}" />
            {{/each}}
            <a href="#" id="close-facet-search">CLOSE</a>
            <input id="facet-search" type="search" title="Search" placeholder="Start typing to search" />
            <button id="facet-search-button" type="submit">
                       <span class="fa-stack fa-2x">
                          <i class="fa fa-search fa-stack-2x"></i>
                          <i class="fa fa-check fa-stack-1x" data-fa-transform="shrink-2 left-3 up-2"></i>
                       </span>
                <br/>
                Update
            </button>
            <ul>
                {{#each facets.children}}
                <li>
                    <label class="facet-label" for="all-{{@index}}">
                        <input class="facet-value" autocomplete="off" type="checkbox" name="{{../facets.name}}" value="{{value}}" id="all-{{@index}}"/>
                        <span>{{name}}</span>
                        <span class="all-facet-hits"> {{formatNumber hits}}</span>
                    </label>
                </li>
                {{/each}}
            </ul>
        </form>
    </div>
</script>