<script id='result-template' type='text/x-handlebars-template'>
    <div class="search-result">
        <div class="meta-data">
            <span class="accession">{{accession}}</span>
            {{#ifCond isPublic '==' true}}
                <span class="release-date">{{formatDateString release_date}}</span>
            {{/ifCond}}
            {{#ifCond type '!=' 'collection'}}
                {{#ifCond links '!=' 0}}
                    <span class="release-links">{{links}} link{{#ifCond links '>' 1}}s{{/ifCond}}</span>
                {{/ifCond}}
                {{#ifCond files '!=' 0}}
                    <span class="release-files">{{files}} file{{#ifCond files '>' 1}}s{{/ifCond}}</span>
                {{/ifCond}}
                {{#if views}}{{#ifCond views '!=' 0}}
                    <span class="release-views">{{views}} view{{#ifCond views '>' 1}}s{{/ifCond}}</span>
                {{/ifCond}}{{/if}}
            {{/ifCond}}
            {{#ifCond isPublic '==' false}}
            <span><i class="fas fa-lock"></i> Private</span>
            <span>Modified: {{printDate modification_time}}</span>
            {{/ifCond}}
        </div>

        <div class="title" data-type="{{type}}" data-accession="{{accession}}">
            {{#if query}}
                {{#if collection}}
                <a href="${contextPath}/{{collection}}/studies/{{accession}}?query={{query}}">{{title}}</a>
                {{else}}
                <a href="${contextPath}/studies/{{accession}}?query={{query}}">{{title}}</a>
                {{/if}}
            {{else}}
                {{#if collection}}
                <a href="${contextPath}/{{collection}}/studies/{{accession}}">{{title}}</a>
                {{else}}
                <a href="${contextPath}/studies/{{accession}}">{{title}}</a>
                {{/if}}
            {{/if}}
        </div>

        {{#if authors}}
        <div class="authors">{{authors}}</div>
        {{/if}}

        {{#if content}}
        <div class="content">{{content}}</div>
        {{/if}}


    </div>
</script>
     