<script id='attributes-template' type='text/x-handlebars-template'>
{{#eachGroup this}}
    {{#each this}}
        {{#if reference}}
            <a href="{{makeAnchor value}}" class="reference"><i class="far fa-bookmark"></i> {{name}}</a>
        {{else}}
            {{#ifCond name '!=' 'Title'}}
                {{#if @first}}<div class="bs-name">{{name}}</div><div>{{/if}}
                {{valueWithName name this}}{{#if @last}}</div>{{else}}, {{/if}}
            {{/ifCond}}

        {{/if}}
    {{/each}}
{{/eachGroup}}
</script>