<script id='publication-template' type='text/x-handlebars-template'>{{#if this}}
    <span class="publication">{{#if authors}}{{authors}}{{#if year}} ({{year}}){{/if}}.{{/if}}
        {{#if title}}
            {{#if URLs}}
                    <a href="{{URLs.0.url}}" target="_blank">{{title}}</a>
                {{else}}
                {{title}}
            {{/if}}
        {{/if}}
        {{#if journal}} <i>{{journal}}</i>.{{/if}}
        {{#if publication_date}} {{publication_date}};{{/if}}
        {{#if volume}} Volume {{volume}}.{{/if}}
        {{#if issue}} Issue {{issue}}.{{/if}}
        {{#if pages}} Page: {{pages}}.{{/if}}
        {{#each URLs}}
            <span class="publication-link">
                <span class="publication-link-type"><i class="fa fa-external-link-alt" aria-hidden="true"></i> {{type}}</span>
                <a href="{{url}}" target="_blank">{{text}}</a>
            </span>
        {{/each}}
        {{#each this}}{{#ifCond @key 'notin' "['authors','accno','title','journal','publication_date','volume','issue','pages','URLs']"}}, {{this}}{{/ifCond}}{{/each}}
    </span>
    {{/if}}
</script>
