<script id='study-template' type='text/x-handlebars-template'>
    <div id="left-column"  itemscope="itemscope" itemtype="http://schema.org/Dataset">
        {{#if collection}}
        <meta itemprop="url" content="${contextPath}/{{collection}}/studies/{{accession}}" />
        <meta itemprop="sameAs" content="${contextPath}/studies/{{accession}}" />
        {{else}}
        <meta itemprop="url" content="${contextPath}/studies/{{accession}}" />
        {{/if}}
        <div id="release-date-download">
                    <span class="release-date">
                        {{#if releaseDate}}
                            Release Date: <span  id="orcid-publication-year">{{formatDateString releaseDate}}</span>
                        {{else}}
                            {{#ifCond accessTags 'contains' 'Public' }}

                            {{else}}
                                <i class="fa fa-lock" aria-hidden="true"></i> Private
                            {{/ifCond}}
                        {{/if}}
                    </span>
            <div id="download-source">
                <a href="${contextPath}/files/{{accno}}/{{accno}}.json{{keyString}}" target="_blank"
                   title="Download Study as JSON" class="source-icon source-icon-json"
                   data-icon="=">{JSON}</a>
                <a href="${contextPath}/files/{{accno}}/{{accno}}.xml{{keyString}}" target="_blank"
                   title="Download Study as XML" class="source-icon source-icon-xml" data-icon="=">
                    &lt;XML&gt;</a>
                <a href="${contextPath}/files/{{accno}}/{{accno}}.pagetab.tsv{{keyString}}" target="_blank"
                   title="Download Study as PageTab" class="source-icon source-icon-pagetab"
                   data-icon="=">&rarr;PageTab&#8626;</a>
                <a id="ftp-link" href="#" target="_blank" style="display:none"
                   title="Open FTP Folder" class="source-icon source-icon-ftp" data-icon="="><i
                        class="fa fa-cloud-download-alt"></i>FTP</a>
                <!--a id="cite" title="Cite"  class="source-icon source-icon-cite openModal">
                    [Cite]</a-->
            </div>
        </div>
        <h3 id="orcid-title"  itemprop="name">{{valueWithName 'Title' attributes}}</h3>

        <div id="right-column">
            <div id="right-column-header">
                <a id="expand-right-column" data-expanded="false"><i class="fas fa-angle-double-left"></i></a>
            </div>
            <div id="right-column-content">
                {{&main-file-table}}
                {{&main-link-table}}
                {{{main-orcid-claimer}}}
            </div>
        </div>
        <div id="bs-content">
            <div class="reveal max-content-width" id="thumbnail" data-reveal>
              <div id="thumbnail-image"></div>
              <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Authors -->
            <ul id="bs-authors">
                {{#eachAuthor this}}
                <li {{#ifCond @index '>=' 10}}class="hidden"{{/ifCond}} ><span class="author">
                        <span itemscope itemtype="http://schema.org/Person"><span class="author-name" itemprop="name" data-card-id="author-card-{{@index}}">{{Name}}
                            <div class="author-card" id="author-card-{{@index}}">
                                <h5>{{Name}}</h5>
                                {{#each this}}
                                    {{#ifCond @key 'notin' "['affiliationNumber','Name']"}}
                                        {{#ifCond @key '==' 'affiliation'}}
                                            {{#ifCond this 'haslength' 1}}
                                                <b>Affiliation</b>: {{this.0.name}}
                                            {{else}}
                                                <b>Affiliations</b>
                                                <ul>
                                                {{#each this}}
                                                    <li>{{name}}</li>
                                                {{/each}}
                                                </ul>
                                            {{/ifCond}}
                                        {{else}}
                                            <b>{{@key}}:</b> {{this}}<br/>
                                        {{/ifCond}}
                                    {{/ifCond}}
                                {{/each}}
                            </div>
                        </span></span>
                        {{#if affiliation}}
                            {{#ifArray affiliation}}
                                {{#each affiliation}}
                                    <sup class="org-number"><a class="org-link" data-affiliation="{{org}}">{{affiliationNumber}}</a></sup>
                                {{/each}}
                            {{else}}
                                <sup class="org-number"><a class="org-link" data-affiliation="{{affiliation}}">{{affiliationNumber}}</a></sup>
                            {{/ifArray}}
                        {{/if}}
                    </span>
                    {{#if ORCID}}
                        <a href="https://orcid.org/{{ORCID}}" target="_blank" title="Click to open ORCID profile: https://orcid.org/{{ORCID}}" class="orcid"><img alt="https://orcid.org/{{ORCID}}" src="${contextPath}/images/orcid.svg"/></a>
                    {{/if}}

                </li>
                {{#if @last}}
                {{#ifCond @index '>=' 10}}
                <li><span class="more" id="expand-authors">+ {{@left}} more</span></li>
                {{/ifCond}}
                {{/if}}
                {{/eachAuthor}}
            </ul>
            <!-- Affiliations -->
            <ul id="bs-orgs">
                {{#eachOrganization this}}
                <li {{#ifCond @index '>=' 10}}class="hidden"{{/ifCond}} id="{{affiliation}}"><sup>{{affiliationNumber}}</sup>
                <span itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{name}}</span></span>
                </li>
                {{#if @last}}
                {{#ifCond @index '>=' 10}}
                <li><span class="more" id="expand-orgs">+ {{@left}} more</span></li>
                {{/ifCond}}
                {{/if}}
                {{/eachOrganization}}
            </ul>

            <!-- Accession -->
            <div class="bs-name">Accession</div>
            <div id="orcid-accession" itemprop="identifier">{{accno}}</div>

            <!-- Hidden description -->
            <div style="display:none" itemprop="description">{{valueWithName 'Description' attributes}}</div>

            <!-- Study level attributes -->
            {{&renderAttributes attributes}}


            <!-- Publication -->
            {{renderPublication this}}

            <!-- Funding -->
            {{#eachFunder this}}
            {{#if @first}}
            <div class="bs-name">Funding</div>
            <ul id="bs-funding">
                {{/if}}
                <li><span itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{name}}</span></span>{{#if grants}}:
                    {{#each grants}}
                        <span class="bs-grants"><a target="_blank" href="{{link}}">{{this.gid}}</a></span>
                    {{/each}}
                    {{/if}}
                </li>
                {{#if @last}}
            </ul>
            {{/if}}
            {{/eachFunder}}

            <!-- Subsections -->
            {{#if subsections}}
                {{#each subsections}}
                    {{#ifRenderable this}}
                        {{#ifArray this}}
                            {{&table this}}
                        {{else}}
                            {{&section this}}
                        {{/ifArray}}
                    {{/ifRenderable}}
                {{/each}}
            {{/if}}
            <!-- License -->

        </div>
    </div>
    <div class="clearboth"></div>
</script>
